In [1]:
import datascrape as ds
from datetime import date

In [2]:
print(ds.munis)

{'KCEF': 'Chicopee', 'KBED': 'Bedford', 'KPSF': 'Pittsfield', 'KOWD': 'Norwood', 'KEWB': 'New Bedford', 'KLWM': 'Lawrence', 'KBOS': 'Boston', 'KBAF': 'Westfield', 'KPYM': 'Carver', 'KORH': 'Worcester'}

In [3]:
# get data of munis from 1960
for muni in ds.munis:
    print(muni)
    ds.fetch_data(muni, date(1960, 1, 1), date(2015, 12, 31))

KCEF
KBED
KPSF
KOWD
KEWB
KLWM
KBOS
KBAF
KPYM
KORH

In [4]:
df = ds.fetch_data("KORH", date(1973, 1, 1), date(1973, 4, 1))
print(len(df.index))
print(df.index)

91
Index(['1973-1-1', '1973-1-2', '1973-1-3', '1973-1-4', '1973-1-5', '1973-1-6',
       '1973-1-7', '1973-1-8', '1973-1-9', '1973-1-10', '1973-1-11',
       '1973-1-12', '1973-1-13', '1973-1-14', '1973-1-15', '1973-1-16',
       '1973-1-17', '1973-1-18', '1973-1-19', '1973-1-20', '1973-1-21',
       '1973-1-22', '1973-1-23', '1973-1-24', '1973-1-25', '1973-1-26',
       '1973-1-27', '1973-1-28', '1973-1-29', '1973-1-30', '1973-1-31',
       '1973-2-1', '1973-2-2', '1973-2-3', '1973-2-4', '1973-2-5', '1973-2-6',
       '1973-2-7', '1973-2-8', '1973-2-9', '1973-2-10', '1973-2-11',
       '1973-2-12', '1973-2-13', '1973-2-14', '1973-2-15', '1973-2-16',
       '1973-2-17', '1973-2-18', '1973-2-19', '1973-2-20', '1973-2-21',
       '1973-2-22', '1973-2-23', '1973-2-24', '1973-2-25', '1973-2-26',
       '1973-2-27', '1973-2-28', '1973-3-1', '1973-3-2', '1973-3-3',
       '1973-3-4', '1973-3-5', '1973-3-6', '1973-3-7', '1973-3-8', '1973-3-9',
       '1973-3-10', '1973-3-11', '1973-3-12', '1973-3-13', '1973-3-14',
       '1973-3-15', '1973-3-16', '1973-3-17', '1973-3-18', '1973-3-19',
       '1973-3-20', '1973-3-21', '1973-3-22', '1973-3-23', '1973-3-24',
       '1973-3-25', '1973-3-26', '1973-3-27', '1973-3-28', '1973-3-29',
       '1973-3-30', '1973-3-31', '1973-4-1'],
      dtype='object', name='EST')

In [5]:
# returns dictionary of df's of municipalities with the intersection of available dates
dd = ds.dictdf(ds.munis, date(1973, 1, 1), date(1973, 4, 1))

In [6]:
for muni, df in dd.items():
    print(len(df))

2
2
2
2
2
2
2
2
2
2

In [7]:
print(dd["KORH"].index)

Index(['1973-1-22', '1973-3-20'], dtype='object', name='EST')

In [8]:
dd = ds.dictdf(ds.munis, date(1960, 1, 1), date(2015, 12, 31))

In [9]:
for muni, df in dd.items():
    print(muni, len(df))

KCEF 12494
KBAF 12494
KOWD 12494
KEWB 12494
KBED 12494
KBOS 12494
KPSF 12494
KLWM 12494
KPYM 12494
KORH 12494